@media screen and (width < 430px) {
  .container {
    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0) !important;
    margin-bottom: 20em;
  }

  .container .create-container {
    width: 90%;
    padding: 1em 0em;
  }

  .container .input-section {
    font-size: 1.15rem;
  }

  .container .result-section .result {
    grid-column: 1 / span 2;
  }

  .container .result-section button {
    grid-column: 1 / span 2;
  }

  .customize {
    grid-column: 1 / span 2;
  }

  footer {
    padding: 1.5em 1em 0em 1em;
  }
  .footer-content h3 {
    font-size: 1.5rem;
  }
}
